<div class="example-button-row">
    
  </div>
  <p *ngIf="!(books$ | async)">loading books...</p>
  <mat-accordion >
      <mat-expansion-panel *ngFor = "let book of books$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{book.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        by {{book.author}}
        <button mat-raised-button color="primary" (click)=deleteBook(book.id)>
        Delete Book
       </button>
       
       <button mat-raised-button color="primary" [routerLink]="'/bookform/' + book.id">
        Edit Book
        </button>

 </mat-expansion-panel>
</mat-accordion>
<br><br>
<button mat-raised-button color="primary" [routerLink]="['/bookform']">Add a New Book</button >

