<p *ngIf="!(tempData$ | async)">loading data...</p>
<mat-card class="example-card" *ngIf="(tempData$ | async)">
    <mat-card-header>
      <div mat-card-avatar class = "example-header-image" ></div>
      <mat-card-title>Temperatures</mat-card-title>
      <mat-card-subtitle>In cities</mat-card-subtitle>
    </mat-card-header>
    <img [src] = "image" alt = "weather icon">
    <mat-card-content>
      <p *ngIf= "!hasError">
        current temperature in {{city}} is {{temperature | number: '1.0-0'}}º
      </p>
      <p *ngIf= "hasError">{{errorMessage}}</p>
      <a href="tempform">
         Update temperature
      </a>   
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click) = "addLikes()">LIKE {{likes}}</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
